/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
}

/* Container */
.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Navbar Section */
/* Navigation links */
nav a, .nav-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500; /* Medium weight for clarity */
    text-transform: uppercase; /* Optional: make links uppercase */
    color: #3a3a46; /* Customize color */
    text-decoration: none; /* Remove underline */
}

/* Button styles */
.button, .btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500; /* Medium weight for buttons */
    color: #fff;
    background-color: #08584B; /* Button color */
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

.button:hover, .btn:hover {
    background-color: #028f67; /* Lighter on hover */
}

.navbar {
    background-color: #ffffff;
    padding: 20px 0;
}

.logo img {
    width: 120px;
}

.nav-links {
    flex: 1;
    text-align: center;
}

.nav-links ul {
    list-style: none;
    display: inline-flex;
    gap: 30px;
    margin: 0;
}

.nav-links ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    transition: color 0.3s;
}

.nav-links ul li a:hover {
    color: #028f67;
}

.cta-buttons {
    display: flex;
    gap: 15px;
}

.cta-buttons .button {
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s, color 0.3s;
}

.demo-button {
    background-color: #08584B;
    color: #fff;
}

.demo-button:hover {
    background-color: #028f67;
}

.login-button {
    background-color: #08584B;
    color: #fff;
}

.login-button:hover {
    background-color: #028f67;
}

/* Login Section Styles */
.login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
    background: #3a3a46;
}

.login-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.login-container h2 {
    color: #08584B;
    margin-bottom: 20px;
}

.login-form label {
    display: block;
    margin: 15px 0 5px;
    font-weight: 600;
    color: #333;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-button {
    background-color: #08584B;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}

.login-button:hover {
    background-color: #028f67;
}

.login-form a {
    color: #028f67;
    text-decoration: none;
}

.login-form a:hover {
    text-decoration: underline;
}